---
search_omit: true
---
<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>
	<body>
		<div class="pure-container" data-effect="pure-effect-push">
			<input type="checkbox" id="pure-toggle-left" class="pure-toggle hidden-md-up" data-toggle="left" />

			<nav class="pure-drawer" data-position="left">
				<div class="col-md-3 sidebar hidden-print">
					{% include menu.html context="mobile" %}
				</div>
			</nav>
			
			<div class="pure-pusher-container">
				<div class="pure-pusher">
					<label class="pure-toggle-label hidden-md-up" for="pure-toggle-left" data-toggle-label="left"><span class="pure-toggle-icon"></span></label>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-3 sidebar hidden-sm-down hidden-print">
								{% include menu.html %}
							</div>
							<main class="content col-md-9" role="main">
								{% include mobile_header.html %}
								<article>
									<h1>Search</h1>
									<p>Find keywords or phrases anywhere on the site.</p>
									<!-- Search form -->						
									<form method="get" action="/search" class="form-inline" role="search" data-search-form>
										<div class="input-group">
											<input type="search" name="q" id="q" class="form-control" placeholder="Enter search term" data-search-input />
											<span class="input-group-btn">
												<button class="btn btn-secondary" type="submit">
													<i class="fa fa-search"></i>
												</button>
											</span>
										</div>
									</form>
									
									<!-- Search results placeholder -->
									<p data-search-found>
										<span data-search-found-count></span> result(s) found for <em><span data-search-found-term></span></em>.
									</p>
									<div data-search-results></div>
									<!-- Search result template -->
									<script type="text/x-template" id="search-result">
										<div>
											<h4><a href="##Url##">##Title##</a></h4>
											<small class="text-muted">##Date##</small>
											<p>##AutoExcerpt##</p>
											<a href="##Url##">
												<button type="button" class="btn btn-secondary btn-sm">
													Read <i class="fa fa-angle-double-right"></i>
												</button>
											</a>
										</div>
									</script>
								</article>
								<footer class="text-xs-center hidden-print">
									<small class="text-muted">Copyright {{ site.time | date: '%Y' }}, all lefts reserved. Developed by <a href="http://olevik.me/">Ole Vik</a>, hosted on GitHub pages.</small>
								</footer>
							</main>
						</div>
					</div>
				</div>
			</div>
			<label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label> 
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
		<script src="/assets/js/search.js"></script>
	</body>
</html>