<hr />
<a class="social" href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl | uri_escape }}{{ page.url | uri_escape }}&t={{ page.title | uri_escape }}" target="_blank" title="Share on Facebook">
	<button type="button" class="btn btn-secondary btn-sm">
		<i class="fa fa-facebook"></i>Facebook
	</button>
</a>
<a class="social" href="https://twitter.com/intent/tweet?source={{ site.baseurl | uri_escape }}{{ page.url | uri_escape }}&text={{ page.title | uri_escape }}" target="_blank" title="Tweet">
	<button type="button" class="btn btn-secondary btn-sm">
		<i class="fa fa-twitter"></i>Twitter
	</button>
</a>
<a class="social" href="https://plus.google.com/share?url={{ site.baseurl | uri_escape }}{{ page.url | uri_escape }}" target="_blank" title="Share on Google+">
	<button type="button" class="btn btn-secondary btn-sm">
		<i class="fa fa-gplus"></i>Google+
	</button>
</a>