<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>
	<body class="cv">
		<div class="pure-container" data-effect="pure-effect-push">
			<input type="checkbox" id="pure-toggle-left" class="pure-toggle hidden-md-up hidden-print" data-toggle="left" />

			<nav class="pure-drawer" data-position="left">
				<div class="col-md-3 sidebar hidden-print">
					{% include menu.html context="mobile" %}
				</div>
			</nav>
			
			<div class="pure-pusher-container">
				<div class="pure-pusher">
					<label class="pure-toggle-label hidden-md-up" for="pure-toggle-left" data-toggle-label="left"><span class="pure-toggle-icon"></span></label>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-3 sidebar hidden-sm-down hidden-print">
								{% include menu.html %}
							</div>
							<main class="content col-md-9" role="main">
								{% include mobile_header.html %}
								<article class="container-fluid">
									<div class="row">
										<div class="container">
											<div class="row">
												<div class="col-sm-12">
													<h1 class="title">{{ page.cv_title }}</h1>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<hr />
												</div>
											</div>
											<div class="row">
												<div class="col-md-8 col-sm-12">
													<h2 class="subtitle">{{ page.cv_subtitle }}</h2>
												</div>
												<div class="col-md-4 hidden-sm-down">
													<ul class="nav nav-pills nav-stacked">
														<li class="nav-item text-sm-right">{{ page.location }}</li>
														<li class="nav-item text-sm-right">{{ page.phone }}</li>
														<li class="nav-item text-sm-right">
															<a href="{{ page.contact_link }}">
																{{ page.contact_name }}
															</a>
														</li>
														<li class="nav-item text-sm-right">
															<a href="{{ page.linkedin_link }}">
																{{ page.linkedin_name }}
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12 text-justify">
													{{ content }}
												</div>
											</div>
										</div>
										<div class="container">
											<div class="row">
												<div class="col-sm-2">
													
												</div>
												<div class="col-sm-10">
													<h3 class="experience">Experience</h3>
												</div>
											</div>
											{% for item in page.experience %}
											<div class="row">
												<div class="col-sm-2 text-sm-right">
													{{ item.years }}
												</div>
												<div class="col-sm-10">
													<strong>{{ item.name }}</strong>, <em>{{ item.location }}</em>
													<p class="text-justify">{{ item.description }}</p>
												</div>
											</div>
											{% endfor %}
											<div class="row">
												<div class="col-sm-2">
													
												</div>
												<div class="col-sm-10">
													<h3 class="education">Education</h3>
												</div>
											</div>
											{% for item in page.education %}
											<div class="row">
												<div class="col-sm-2 text-sm-right">
													{{ item.years }}
												</div>
												<div class="col-sm-10">
													<strong>{{ item.name }}</strong>, <em>{{ item.location }}</em>
													<p class="text-justify">{{ item.description }}</p>
												</div>
											</div>
											{% endfor %}
											<div class="row">
												<div class="col-sm-2">
													
												</div>
												<div class="col-sm-10">
													<h3 class="positions">Positions</h3>
												</div>
											</div>
											{% for item in page.positions %}
											<div class="row">
												<div class="col-sm-2 text-sm-right">
													{{ item.years }}
												</div>
												<div class="col-sm-10">
													<strong>{{ item.name }}</strong>, <em>{{ item.location }}</em>
													<p class="text-justify">{{ item.description }}</p>
												</div>
											</div>
											{% endfor %}
											<div class="row">
												<div class="col-sm-2">
													
												</div>
												<div class="col-sm-10">
													<h3 class="miscellaneous">Miscellaneous</h3>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-2 text-sm-right">

												</div>
												<div class="col-sm-10">
													<p class="text-justify">{{ page.misc }}</p>
												</div>
											</div>
										</div>
									</div>
								</article>
							</main>
						</div>
					</div>
				</div>
			</div>
			<label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label> 
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.1.0/anchor.js"></script>
		<script>
		anchors.options = {
			placement: 'right',
			visible: 'touch ',
			truncate: 128
		};
		anchors.add('article h2, article h3, article h4, article h5, article h6');
		
		$(function() {
			$("table").addClass("table");
			$("table").wrap('<div class="table-responsive"></div>');
		});
		</script>

		{% if site.mathjax %}
		<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
		{% endif %}
	</body>
</html>